
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Water Remedy</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">


    <link href="~/StyleFolder/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/LayoutIconFonts/icofont.min.css" rel="stylesheet" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />

    <link href="~/StyleFolder/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    @*<link href="~/fonts/icofont.min.css" rel="stylesheet" />*@
    <script src="~/JavaScript/popper.js"></script>
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link href="~/StyleFolder/StyleSheet.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/StyleFolder/sideNavBar.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a href="/Iteration2/HomeIndex"><span>Water Remedy</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li>
                        <a href="/Iteration2/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Iteration2/AboutWater">About us</a>
                    </li>
                    @*<li class="drop-down">
                            <a href="">DIY Detergent</a>
                            <ul>
                                <li><a href="/Iteration2/DIYDetergent#threePic">Why is matter</a></li>
                                <li><a href="/Iteration2/DIYDetergent#team2">Check My Products</a></li>
                            </ul>
                        </li>*@
                    <li>
                        <a href="">DIY Detergent</a>
                    </li>
                    <li><a href="/Iteration2/RoofWater">Roof Water</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End #header -->

    <section id="DIY">
        <div class="container" style="text-align:center; position: relative">
            <div class="row">
                <div class="col-lg-12 col-md-12 filter-app">
                    <img src="~/img/diy-clearn.jpg" />
                    <div class="DIY-container">
                        <h1 style="font-weight:600">DIY Detergent</h1>
                        <h2 style="font-weight:500">Replace chemical detergents with nature cleaner</h2>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #hero -->



    <nav class="cd-vertical-nav">
        <ul style="list-style:none">
            <li>
                <a href="#DIY" data-number="1">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Top</span>
                </a>
            </li>
            <li>
                <a href="#hello" data-number="3">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Check My Products</span>
                </a>
            </li>
            <li>
                <a href="#matter" data-number="2">
                    <span class="cd-dot"></span>
                    <span class="cd-label">Why It Matters</span>
                </a>
            </li>

        </ul>
    </nav>
    <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>





    <div id="hello"></div>

    <h2 class='mb-3' style="text-align:center; color:black; font-size:40px; font-weight:600; margin-top:50px" id="team22">Check common detergents by places</h2>

    <div class="container" style="margin-top:50px; text-align:center">
        <div class="dropdown">
            <button class="btn btn-ligh dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:300px; border:0px solid black; font-weight:bold; color:black">
                MY PLACE
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" onclick="show1()" id="chice1">Kitchen</a>
                <a class="dropdown-item" onclick="show2()" id="chice2">Bathroom</a>
                <a class="dropdown-item" onclick="show3()" id="chice3">Laundry</a>
            </div>
        </div>
    </div>

    <section id="laundry" style="margin-top:30px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">LAUNDRY</span></h2>
            <div class="row" style="margin-top:70px">

                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/laun-01.jpg" />
                        <span class="caption">OMO Dual Capsules</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-02.jpg" />
                        <span class="caption">Purity Top & Front<br> Loader Sensitive</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-03.jpg" />
                        <span class="caption">Dettol Anti-Bacterial<br> Laundry Sanitiser<br> Natural Eucalyptus</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-04.jpg" />
                        <span class="caption">Persil With A Touch Of<br> Comfort Inspired<br> Freshness Liquid</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-05.jpg" />
                        <span class="caption">Surf Laundry Powders<br> All Variants</span>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:70px">
                @*<div type="button" style="margin-left:20px; background-color:rgba(242, 216, 160, 1); text-align:center; color:white; font-weight:bold" id="RM">Check DIY Detergents</div>*@
                <button type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black" onclick="show6()">Check DIY Detergents</button>
            </div>
            <div class="container" id="launAlt" style="margin-top:50px">
                <img src="~/img/laun-alter.jpg" style="width:100%; height:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>

    </section>

    <section id="kitchen" style="margin-top:50px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">KITCHEN</span></h2>
            <div class="row" style="margin-top:70px">
                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/kit-05 (1).jpg" />
                        <span class="caption">Strike Kitchen Cleaner</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (2).jpg" />
                        <span class="caption">Ajax Professional Kitchen</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (3).jpg" />
                        <span class="caption">Dettol Healthy <br>Clean Kitchen Spray</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (4).jpg" />
                        <span class="caption">Pine O Cleen Disinfectant<br> Floor Cleaner Pomegranate</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (5).jpg" />
                        <span class="caption">Mr Muscle Drano Crystals Tub</span>
                    </div>


                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:70px">
                @*<div type="button" style="margin-left:20px; background-color:rgba(242, 216, 160, 1); text-align:center; color:white; font-weight:bold" id="RM">Check DIY Detergents</div>*@
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black" onclick="show4()">Check DIY Detergents</button>
            </div>
            <div class="container" id="kitAlt" style="margin-top:50px">
                <img src="~/img/kit-alter.jpg" style="width:100%; height:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>
    </section>

    <section id="bathroom" style="margin-top:50px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">BATHROOM</span></h2>
            <div class="row" style="margin-top:70px">
                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/bath-01.jpg" />
                        <span class="caption">WHITE KING <br>PREMIUM BLEACH </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-02.jpg" />
                        <span class="caption">HARPIC WHITE &<br> SHINE ULTIMATE <br>BLEACH POWER</span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-03.jpg" />
                        <span class="caption">DUCK FOAMING<br> BLEACH GEL </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-04.jpg" />
                        <span class="caption">BREF 10X EFFECT<br> TOILET GEL </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-05.jpg" />
                        <span class="caption">STRIKE BLEACH<br> TOILET GEL </span>
                    </div>


                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:60px">
                @*<div type="button" style="margin-left:20px; background-color:rgba(242, 216, 160, 1); text-align:center; color:white; font-weight:bold" id="RM">Check DIY Detergents</div>*@
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black" onclick="show5()">Check DIY Detergents</button>
            </div>
            <div class="container" id="bathAlt" style="margin-top:50px">
                <img src="~/img/bath-alter.jpg" style="width:100%; height:100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>
    </section>

    <div class="container" style="margin-top:150px">
        <div class="row">
            <div class="col-lg-4 col-md-4 filter-app" style="background-color:rgba(128, 219, 213, 0.18)">
                <div>
                    <section class="container" id="matter">
                        <div class="container">
                            <h2 style="text-align:center; color:black; font-size:30px; font-weight:600">
                                Why it matters
                            </h2>
                            <br />
                            <p style="text-align:center; color:black; font-weight:500; font-size:15px">
                                Most household chemical products contain <span style="font-weight:bold; color:#7C9139">disinfectants, phosphate, and surfactants.</span>
                                <br />
                                Phosphates can result in eutrophication in water and cause the death of fish.
                                <br />
                                The surfactants are not only toxic to aquatic creatures, but also persistent in water.
                                <br />
                            </p>
                            <p style="text-align:center; color:black; font-weight:600; font-size:17px">
                                The main entrance to the water is surface water through sewage treatment.
                            </p>

                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 filter-app" style="background-color:rgba(235, 186, 77, 0.18)">
                <section style="margin-top:-50px">
                    <div class="container" id="threePic">
                        <h2 style="text-align:center; color:black; font-size:30px; font-weight:600; margin-top:50px">
                            What it impact on
                        </h2>
                        <div class="row" style="margin-top:100px">
                            <div class="c1 col-lg-4 col-md-4 filter-app">
                                <img src="~/img/mel-pop.png" class="img-fluid" id="mel_population" style="float:right" />
                                <p class="words" style="margin-left:-5px">HUMAN</p>
                            </div>
                            <div class="c1 col-lg-4 col-md-4 filter-app" style="text-align:center">
                                <img src="~/img/koala-tree.png" class="img-fluid" id="mel_koala" />
                                <p class="words" style="margin-left:-5px">ANIMAL</p>
                            </div>
                            <div class="c1 col-lg-4 col-md-4 filter-app">
                                <img src="~/img/river-top.png" class="img-fluid" id="mel_river" style="float:left" />
                                <p class="words" @*style="margin-left:-125px"*@>RIVER</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4 col-md-4 filter-app" style="background-color:rgba(235, 186, 77, 1)">
                <div>
                    <section class="container" id="matter">
                        <div class="container">
                            <h2 style="text-align:center; color:black; font-size:30px; font-weight:600">
                                what chemicals they have?
                            </h2>
                            <p style="text-align:center; color:black; font-weight:500; font-size:15px">
                                Many kitchen and bathroom cleaners contain disinfectants like <span style="font-weight:bold">sodium hypochlorite</span> and <span style="font-weight:bold">benzalkonium chloride</span>
                                <br />
                                which are harmful to aquatic lives.
                                <br />
                                Additionally, the aromatic derivative from benzalkonium chloride can hardly be bio-degraded.
                                <br />
                            </p>
                            <p style="text-align:center; color:black; font-weight:100; font-size:15px">
                                For laundry detergents, besides the disinfectants, the widely-used surfactants like <span style="font-weight:bold">sodium dodecylbenzene sulfonate</span> are also harmful and
                                persistent in the environment. The <span style="font-weight:bold">phosphate</span> in laundry liquid can result in eutrophication
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>



    <footer id="footer" style="margin-top:200px">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Water Remedy</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="icofont-simple-up">Top</i></a>



    <style>
        #kitchen {
            display: none;
        }

        #bathroom {
            display: none;
        }

        #laundry {
            display: none;
        }


        #kitAlt {
            display: none;
        }

        #bathAlt {
            display: none;
        }

        #launAlt {
            display: none;
        }
    </style>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    @*<script src="~/JavaScript/bootstrap.bundle.js"></script>*@
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>
    <script src="~/js/mdb.js"></script>
    <script src="~/JavaScript/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/sidenavbar.js"></script>
    <script>
        var kit = document.getElementById("kitchen");
        var bat = document.getElementById("bathroom");
        var lau = document.getElementById("laundry");
        var kitpic = document.getElementById("kitAlt");
        var batpic = document.getElementById("bathAlt");
        var launpic = document.getElementById("launAlt");

        function show1() {
            kit.style.display = "flex"
            document.getElementById("dropdownMenuLink").innerHTML = "Kitchen";
            bat.style.display = "none"
            lau.style.display = "none"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show2() {
            kit.style.display = "none"
            bat.style.display = "flex"
            document.getElementById("dropdownMenuLink").innerHTML = "Bathroom";
            lau.style.display = "none"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show3() {
            kit.style.display = "none"
            bat.style.display = "none"
            lau.style.display = "flex"
            document.getElementById("dropdownMenuLink").innerHTML = "Laundry";
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show4() {
            if (kitpic.style.display == "none") {
                kitpic.style.display = "flex";
            } else {
                kitpic.style.display = "none";
            }
        }


        function show5() {
            if (batpic.style.display == "none") {
                batpic.style.display = "flex";
            } else {
                batpic.style.display = "none";
            }
        }
        function show6() {
            if (launpic.style.display == "none") {
                launpic.style.display = "flex";
            } else {
                launpic.style.display = "none";
            }
        }

    </script>
    <style>
        #kitchen th {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }

        #kitchen td {
            color: black;
            font-weight: 500;
        }

        #bathroom th {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }

        #bathroom td {
            color: black;
            font-weight: 500;
        }

        #laundry th {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }

        #laundry td {
            color: black;
            font-weight: 500;
        }

        #kitchenpro th {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }

        #kitchenpro td {
            color: black;
            font-weight: 500;
        }

        #bathroompro th {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }

        #bathroompro td {
            color: black;
            font-weight: 500;
        }

        #laundrypro th {
            color: black;
            font-weight: bold;
            font-size: 20px;
        }

        #laundrypro td {
            color: black;
            font-weight: 500;
        }
    </style>
</body>
</html>
