
@{
    ViewBag.Title = "Alternatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>DIY kitchen cleaner</h2>
        <h3>Grease cleaner:</h3>
        <p>Formula: appropriate amount of toothpaste, 2 spoons of white vinegar, 3 spoons of white wine, water</p>
        <p>Vinegar has the effect of cleaning and sterilizing. The cleaning agent formed by combining these will naturally have a better cleaning effect. First prepare a pot of warm water, add toothpaste and vinegar to the water, and stir well.</p>
        <hr />
        <h3>Clean with peel:</h3>
        <p>
            Oranges, grapefruits, lemons and other acidic fruits have white fibers in the inner layer of the peel, which has a strong ability to absorb oil. We can directly wet the peel with water and wipe the oily areas in the kitchen, and wipe the white side of the peel down to remove the oil.
        </p>
        <p>In addition, it can also be made into a cleaning agent. Add water to the peel and boil it in a pot. The yellow water that is boiled is a natural and powerful grease cleaner. After cooling down, use a rag to dip it and wipe the kitchen with grease. It is effective in removing oil and stains, and has a sterilizing effect.</p>
        <hr />
        <h3>clean with flour:</h3>
        <p>
            First, mix an appropriate amount of flour and water to form a batter, and use a small brush to evenly brush the batter on the oily areas.
        </p>
        <p>Then wait until the batter is dry, then gently tear off the bottom batter. The oil stains are stuck on this layer due to the adsorption of the flour, and the grease stains are cleaned up at once. Finally, use a rag to do the finishing work.</p>
    </div>


