
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Water Remedy</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

    <link href="~/StyleFolder/bootstrap.css" rel="stylesheet" />
    <link href="~/fonts/LayoutIconFonts/icofont.min.css" rel="stylesheet" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link href="~/StyleFolder/style.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <h1 class="text-light"><a href="/Home/HomeIndex"><span>Water Remedy</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li>
                        <a href="/Home/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutWater">About us</a>
                    </li>
                    <li>
                        <a href="/Home/DIYDetergent">DIY Detergent</a>
                    </li>
                    <li><a href="/Home/RoofWater">Roof Water</a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End #header -->

    <div class="container" style="margin-top:150px; margin-bottom:100px">
        <div class="row">
            <div class="col-lg-1 col-md-1 filter-app"></div>
            <div class="col-lg-5 col-md-5 filter-app" style="position: relative; text-align: center;">
                <img src="~/img/earth.jpg" style="height:auto; width:auto; margin-top:150px; margin-left:125px" />
                <span style="position: absolute;top: 55%;left: 63%;transform: translate(-50%, -50%); color:black; font-size:x-large; font-family:Vollkorn">About Us</span>
            </div>
            <div class="col-lg-5 col-md-5 filter-app">
                <div style="text-align:center; margin-top:100px">
                    <p style="font-family:Raleway">
                        Water Remedy aims to help people to manage their water usage by providing interactive solutions on roof water harvest and home-made replacements for chemical detergents.
                        Through our effort, people can be more confident of their capability of protecting water catchments in Melbourne.
                    </p>
                    <p style="font-family:Raleway">
                        Melbourne has been suffering from shortage of water storage and water pollution during the last few years.
                        However, these problems can be tolerated or solved if more people participate in saving water.
                        Therefore, we hope to activate people's awareness and promote their actions to  protect the limited water resources.
                    </p>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 filter-app"></div>
        </div>
        </div>

    <footer id="footer" style="margin-top:350px">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Water Remedy</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer>
    <a href="#" class="back-to-top"><i class="icofont-simple-up">Top</i></a>
    <div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    @*<script src="~/JavaScript/bootstrap.bundle.js"></script>*@
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>


</body>
</html>
