@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <style>
        #header_img {
            background-image: url("../pic/Water-stream1.jpg");
        }
    </style>
</div>