
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Catchment In Danger</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet'>
    <link href="~/StyleFolder/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />
    @*<link href="~/css/mdb.css" rel="stylesheet" />*@
    <link href="~/StyleFolder/style.css" rel="stylesheet" />
</head>
<body>

    @*<div class="timeLine">
            <div style="margin-top:0px">
                <p class="bubble thought"><u style="font-size:large; font-weight:bold">Human Activit</u><br>Since 1970, CO2 emissions have increased by about 90%, with emissions from fossil fuel combustion and industrial processes contributing about 78% of the total</p>
                <p class="bubble thought" style="margin-top:100px"><u style="font-size:large; font-weight:bold">Sea Level Increasing</u><br>Polar bears spend over 50% of their time hunting for food. A polar bear might catch only one or two out of 10 seals it hunts</p>
                <p class="bubble thought" style="margin-top:150px">
                    <u style="font-size:large; font-weight:bold">Bushfire</u><br>Chances of bushfire is  increasing, directly involved with water storage and water quality.<br><br>
                    ash & slit washed into water storage facilities, when it rains.<br><br>
                    Burnt atmospheric ash also settles on water streams making them unfit for human consumption.
                </p>
                <p class="bubble thought" style="margin-top:100px">
                    <u style="font-size:large; font-weight:bold">Home detergent</u><br>Detergents have phosphates which tend to remove the hardness of the water by increasing the PH.<br><br>
                    surfactants in detergents can lower the surface tension which forms bubbles<br><br>
                    it make lubricants like grease and oil to mix well with water brightens and perfumes in detergents will alter the water chemistry and make them unfit for consumption.</p>
            </div>
            <img src="~/img/waterCatchmentIndanger.jpg" alt="this slowpoke moves" width=600 style="margin-top:100px" />
            <div style="margin-top:50px">
                <p class="bubble thought">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, nemo, debitis.</p>
            </div>
        </div>*@

    <header id="header" class="fixed-top">
        <div class="HeaderContainer">
            <div class="logo float-left">
                <h1 class="text-light"><img src="~/img/lllg.png" style="max-height:50px" /><a href="/Home/HomeIndex"><span>Water Remedy</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="/Home/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutWater">About Us</a>
                    </li>
                    @*<li class="drop-down">
                            <a href="/Home/DIYDetergent">Clean Water</a>
                            <ul>
                                <li><a href="/Home/DIYDetergent#hello">Check my products</a></li>
                            </ul>
                        </li>*@
                    <li class="drop-down">
                        <a href="/Home/RoofWater">Water Saver</a>
                        <ul>
                            <li><a href="/Home/RoofWater#rwater">How Much Can You Save</a></li>
                            @*<li><a href="/Home/RoofWater#rwater">Have A Water Tank</a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/CatchmentInDanger">Water Facts</a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End #header -->

    <ol class="container-diy breadcrumb" style="background-color:#fff; margin-top:150px">
        <li class="breadcrumb-item"><a href="/Home/HomeIndex">Home</a></li>
        <li class="breadcrumb-item active">What Facts</li>
    </ol>   

    <div class="container" style="text-align:center; margin-top:100px">
        <h3 style="color:black; font-size:40px; font-weight:bold">What Facts</h3>
        <p>
            Over the last century, the excess emission of carbon from human activity has led to notable climate
            <br>
            change that is harmful to limited water resources.
            <br>
            Meanwhile, the increasing population has contributed to the growing risks of chemical pollution.
            <br>
            In Melbourne, both of the problems put intense pressure on people’s water usage.
        </p>
        <div class="row">
            <div class="col-lg-12 col-md-12 filter-app">
                @*<img class="adaptivePic" src="~/img/D1.png" />
                    <img class="adaptivePic" src="~/img/D2.png" />*@
                <iframe id="whatFacts" @*width="560" height="315"*@ src="https://www.youtube.com/embed/4TnYDIxpNGo?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    @*<div id="dangerPart" class="container">
            <h3 style="color:black; font-size:40px; font-weight:bold; text-align:center">Want to do in favor to earth?</h3>
            <hr>
            <div class="row" style="text-align:center">
                <div class="col-lg-6 col-md-6 filter-app">
                    <h6>INDOOR</h6>
                    <p style="font-weight:bold; color:black">Check out Rainfall from Your Roof<br>Collect & Reuse</p>
                    <button type="button" id="dangerPart1" class="btn btn-dark" onclick="window.location.href='/Home/RoofWater'">More</button>
                </div>
                <div class="col-lg-6 col-md-6 filter-app">
                    <h6>OUTDOOR</h6>
                    <p style="font-weight:bold; color:black">Check out Home Detergents<br>Stop & Replace</p>
                    <button type="button" id="dangerPart2" class="btn btn-dark" onclick="window.location.href='/Home/DIYDetergent'">More</button>
                </div>
            </div>
        </div>*@

    <div class="container" style="text-align:center">
            <h3 style="color:#363636; font-size:45px; font-weight:bold; margin-top:20px; margin-bottom:20px">What we offer  ?</h3>
            <div class="row" style="text-align:center">
                <div class="col-lg-2 col-md-2 filter-app"></div>
                <div class="col-lg-4 col-md-4 filter-app" style="background-color: rgba(235, 186, 77, 0.18)">
                    <div style="margin-top:50px; margin-bottom:50px">
                        <span style="font-family:Raleway; color:black">IN DOOR</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Check out Home Detergents</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Stop & Replace</span>
                        <br>
                        <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/DIYDetergent'">LEARN MORE ></button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 filter-app" style="background-color:rgba(170, 231, 192, 0.53)">
                    <div style="margin-top:50px; margin-bottom:50px">
                        <span style="font-family:Raleway; color:black">OUT DOOR</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Check out Rainfall from Your Roof</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Collect & Reuse</span>
                        <br>
                        <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/RoofWater'">LEARN MORE ></button>
                    </div>
                </div>
            </div>
        </div>

    @*<div class="container" style="text-align:center; margin-bottom:50px; margin-top:50px">
        <h3 style="color:#363636; font-size:45px; font-weight:bold; margin-top:20px; margin-bottom:20px">What can do next   ?</h3>
        <div class="row" style="text-align:center">
            <div class="col-lg-12 col-md-12 filter-app" style="background-color:rgba(235, 186, 77, 0.18)">
                <div style="margin-top:50px; margin-bottom:50px">
                    <span style="font-family:Raleway; color:black">INDOOR</span>
                    <br>
                    <span style="font-family:Raleway; color:black; font-weight:bold">Check out Home Detergents</span>
                    <br>
                    <span style="font-family:Raleway; color:black; font-weight:bold">Stop & Replace</span>
                    <br>
                    <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/DIYDetergent'">LEARN MORE ></button>
                </div>
            </div>
        </div>
    </div>*@

    @*<div class="l_c_h">
            <div class="c_h">
                <div class="left_c">
                    <div class="left center_icons">
                        Live help!
                    </div>
                    <div class="right right_c left_icons">
                        <img src="~/img/chat-icon3.png" style="width:auto; height:35px" />
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="chat_container" style="display: none;">
                <iframe src='https://webchat.botframework.com/embed/myqnaserver-bot?s=e1ts79DPVWo.zIh5ekvimyEqEIVKnaPRLDS7fXMX7r-7HdjQgFv_CBc' style='min-width: 100px; width: 350px; min-height: 500px; border:0'></iframe>
            </div>
        </div>*@

    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
    <script>
        var myLandbot = new LandbotLivechat({
            index: 'https://chats.landbot.io/v2/H-732989-4YFSIQ5565VKNWEA/index.html',
        });
    </script>

    <div style="margin-top:50px"></div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 filter-app" style="text-align:center">
                    <img src="~/img/lllg.png" style="width:9vh; height:10vh" />
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>WHO WE ARE</h5>
                    <a href="/Home/HomeIndex">Home</a>
                    <br>
                    <a href="/Home/AboutWater">About Us</a>
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>OUR SERVICES</h5>
                    <a href="/Home/RoofWater">Water Save</a>
                    <br>
                    <a href="/Home/DIYDetergent">Clean Water</a>
                </div>
            </div>
        </div>
    </footer>
    @*<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>*@

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        $(function () {
            $(".c_h").click(function (e) {
                //if ($(".chat_container").is(":visible")) {
                //    $(".c_h .right_c .mini").text("+")
                //} else {
                //    $(".c_h .right_c .mini").text("-")
                //}
                $(".chat_container").slideToggle("slow");
                return false
            });
        });
    </script>
</body>
</html>
