
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Catchment In Danger</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Pattaya' rel='stylesheet'>
    <link href="~/StyleFolder/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />
    <link href="~/StyleFolder/style.css" rel="stylesheet" />
</head>
<body>

    <header id="header" class="fixed-top">
        <div class="HeaderContainer">
            <div class="logo float-left">
                <h1 class="text-light"><img src="~/img/lllg.png" style="max-height:50px" /><a href="/Home/HomeIndex"><span>Water Remedy</span></a></h1>
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="/Home/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutWater">About Us</a>
                    </li>
                    <li class="drop-down">
                        <a href="/Home/RoofWater">Water Saver</a>
                        <ul>
                            <li><a href="/Home/RoofWater#rwater">How Much Can You Save</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/CatchmentInDanger">Water Facts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <ol class="container-diy breadcrumb" style="background-color:#fff; margin-top:150px">
        <li class="breadcrumb-item"><a href="/Home/HomeIndex">Home</a></li>
        <li class="breadcrumb-item active">What Facts</li>
    </ol>   

    <div class="container" style="text-align:center; margin-top:100px">
        <h3 style="color:black; font-size:40px; font-weight:bold">What Facts</h3>
        <p>
            Over the last century, the excess emission of carbon from human activity has led to notable climate
            <br>
            change that is harmful to limited water resources.
            <br>
            Meanwhile, the increasing population has contributed to the growing risks of chemical pollution.
            <br>
            In Melbourne, both of the problems put intense pressure on people’s water usage.
        </p>
        <div class="row">
            <div class="col-lg-12 col-md-12 filter-app">
                <iframe id="whatFacts" src="https://www.youtube.com/embed/4TnYDIxpNGo?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="container" style="text-align:center">
            <h3 style="color:#363636; font-size:45px; font-weight:bold; margin-top:20px; margin-bottom:20px">What we offer  ?</h3>
            <div class="row" style="text-align:center">
                <div class="col-lg-2 col-md-2 filter-app"></div>
                <div class="col-lg-4 col-md-4 filter-app" style="background-color: rgba(235, 186, 77, 0.18)">
                    <div style="margin-top:50px; margin-bottom:50px">
                        <span style="font-family:Raleway; color:black">IN DOOR</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Check out Home Detergents</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Stop & Replace</span>
                        <br>
                        <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/DIYDetergent'">LEARN MORE ></button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 filter-app" style="background-color:rgba(170, 231, 192, 0.53)">
                    <div style="margin-top:50px; margin-bottom:50px">
                        <span style="font-family:Raleway; color:black">OUT DOOR</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Check out Rainfall from Your Roof</span>
                        <br>
                        <span style="font-family:Raleway; color:black; font-weight:bold">Collect & Reuse</span>
                        <br>
                        <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/RoofWater'">LEARN MORE ></button>
                    </div>
                </div>
            </div>
        </div>

    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
    <script>
        var myLandbot = new LandbotLivechat({
            index: 'https://chats.landbot.io/v2/H-732989-4YFSIQ5565VKNWEA/index.html',
        });
    </script>

    <div style="margin-top:50px"></div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 filter-app" style="text-align:center">
                    <img src="~/img/lllg.png" style="width:9vh; height:10vh" />
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>WHO WE ARE</h5>
                    <a href="/Home/HomeIndex">Home</a>
                    <br>
                    <a href="/Home/AboutWater">About Us</a>
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>OUR SERVICES</h5>
                    <a href="/Home/RoofWater">Water Save</a>
                    <br>
                    <a href="/Home/DIYDetergent">Clean Water</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();

        $(function () {
            $(".c_h").click(function (e) {
                $(".chat_container").slideToggle("slow");
                return false
            });
        });
    </script>
</body>
</html>
