
@{
    ViewBag.Title = "GetWaterChemical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>
            Melbourne Water Quality Chart Report
        </h2>
        <div class="row">
            <div class="dropdown" style="margin-bottom:50px; margin-left:950px">
                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Total
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" onclick="drawFigure('Harmful')">Harmful</a>
                    <a class="dropdown-item" onclick="drawFigure('Acid salt')">Acid Salt</a>
                    <a class="dropdown-item" onclick="drawFigure('macroelement')">Macro Element</a>
                </div>
                
            </div>

        </div>


        <div id="bar" class="row" style="width: inherit; height: 400px"></div>
        <div style="margin-bottom:90px;">
            <button type="button" id="button" class="btn btn-outline-info waves-effect" onclick="location.href='/Home/MelWaterUsage'">Go For Water Usage</button>
        </div>

        <script>
            var myBar = echarts.init(document.getElementById("bar"));

            function drawFigure(type) {
                var options = {
                    title: {
                        text: 'Water Chemical'
                    },

                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },

                    legend: {
                        left: 'right',
                        top: 'bottom',
                        orient: 'vertical',
                        data: []
                    },

                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },

                    xAxis: {
                        type: 'value'
                    },

                    yAxis: {
                        type: 'category',
                        data: []
                    },

                    series: []
                };

                $.get('/Home/GetWaterChemical', function (data) {
                    if (!data.isSuccess) {
                        console.log(data.Message);
                        return;
                    }
                    if (data.Data.length === 0) { return; }

                    var locations = [];

                    Object.keys(data.Data[0]).forEach((key) => {
                        if (key === 'Parameter/ source') return;
                        locations.push(key);
                    })

                    options.yAxis.data = locations;

                    var legends = [];

                    data.Data.forEach((item) => {
                        var legend = item['Parameter/ source'];
                        if (type) {
                            if (legend.indexOf(type) >= 0) legends.push(legend);
                        } else {
                            legends.push(legend);
                        }
                    });

                    //options.legend.data = legends;

                    var series = [];

                    data.Data.forEach((item) => {
                        var legend = item['Parameter/ source'];
                        if (legends.indexOf(legend) < 0) return;

                        var serie = {
                            name: null,
                            type: 'bar',
                            stack: '总量',
                            label: {
                                show: false,
                                position: 'insideRight'
                            },
                            data: []
                        };

                        serie.name = legend;

                        locations.forEach((x) => {
                            serie.data.push(item[x]);
                        });

                        series.push(serie);
                    });

                    options.series = series;

                    myBar.setOption(options, { notMerge: true });
                });
            }

            drawFigure();
        </script>
        
    </div>
    <style>
        #button {
            float: right;
            margin-top: 10px;
        }
        #header_img {
            background-image: url("../pic/Water-strem2.jpg");
        }
    </style>