
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DIY Detergent</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">


    <link href="~/StyleFolder/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />

    <link href="~/StyleFolder/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/JavaScript/popper.js"></script>
    <link href="~/StyleFolder/style.css" rel="stylesheet" />
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/StyleFolder/sideNavBar.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="HeaderContainer">

            <div class="logo float-left">
                <h1 class="text-light"><img src="~/img/lllg.png" style="max-height:50px" /><a href="/Home/HomeIndex"><span>Water Remedy</span></a></h1>
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="/Home/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutWater">About Us</a>
                    </li>
                    <li class="drop-down">
                        <a href="/Home/RoofWater">Water Saver</a>
                        <ul>
                            <li><a href="/Home/RoofWater#rwater">How Much Can You Save</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/CatchmentInDanger">Water Facts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="container-diy">
            <div class="row">
                <div id="DIY" class="col-lg-12 col-md-12 filter-app">
                    <div class="DIY-container">
                        <h1 style="font-weight:600">Clean Water</h1>
                        <div style="margin-top:30px; margin-left:20px">
                            <span class="p">Do you know?</span>
                            <br>
                            <span class="ps">Chemical detergents have severe impacts on water catchments.</span>
                            <br>
                            <span class="p">What small changes can we do? </span>
                            <br>
                            <span class="ps">Check your common detergents at home and alter them to eco-friendly detergents.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <ol class="container-diy breadcrumb" style="background-color:#fff">
        <li class="breadcrumb-item"><a href="/Home/HomeIndex">Home</a></li>
        <li class="breadcrumb-item active">Clean Water</li>
    </ol>


    <div id="hello"></div>
    <div style="text-align:center; margin-top:50px">
        <img src="~/img/arrow-down.png" style="width:auto;height:50px" />
    </div>
    <h2 class='mb-3' style="text-align:center; color:black; font-size:40px; font-weight:600" id="team22">Check common detergents by places</h2>

    <div class="homeSelecter container" style="margin-top:50px; text-align:center">
        <div class="row">
            <div class="col-lg-4 col-md-4 filter-app">
                <button id="kc" type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show1()" href="#kitchen">Kitchen</button>
            </div>
            <div class="col-lg-4 col-md-4 filter-app">
                <button id="ld" type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show3()" href="#laundry">Laundry</button>
            </div>
            <div class="col-lg-4 col-md-4 filter-app">
                <button id="bh" type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show2()" href="#bathroom">Bathroom</button>
            </div>
        </div>
    </div>

    <section id="laundry" style="margin-top:30px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">LAUNDRY</span></h2>
            <div class="row" style="margin-top:70px">

                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/laun-01.jpg" />
                        <span class="caption">OMO Dual Capsules</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-02.jpg" />
                        <span class="caption">Purity Top & Front<br> Loader Sensitive</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-03.jpg" />
                        <span class="caption">Dettol Anti-Bacterial<br> Laundry Sanitiser<br> Natural Eucalyptus</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-04.jpg" />
                        <span class="caption">Persil With A Touch Of<br> Comfort Inspired<br> Freshness Liquid</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-05.jpg" />
                        <span class="caption">Surf Laundry Powders<br> All Variants</span>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:70px">
                <button type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show6()">ALTERNATIVES</button>
            </div>
            <div class="container" id="launAlt" style="margin-top:50px">
                <img src="~/img/laun-alter.jpg" style="width:155vh; height:35vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>

    </section>

    <section id="kitchen" style="margin-top:50px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">KITCHEN</span></h2>
            <div class="row" style="margin-top:70px">
                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/kit-05 (1).jpg" />
                        <span class="caption">Strike Kitchen Cleaner</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (2).jpg" />
                        <span class="caption">Ajax Professional Kitchen</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (3).jpg" />
                        <span class="caption">Dettol Healthy <br>Clean Kitchen Spray</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (4).jpg" />
                        <span class="caption">Pine O Cleen Disinfectant<br> Floor Cleaner Pomegranate</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (5).jpg" />
                        <span class="caption">Mr Muscle Drano Crystals Tub</span>
                    </div>


                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:70px">
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show4()">ALTERNATIVES</button>
            </div>
            <div class="container" id="kitAlt" style="margin-top:50px">
                <img src="~/img/kit-alter.jpg" style="width:155vh; height:35vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" />
            </div>
        </div>
    </section>

    <section id="bathroom" style="margin-top:50px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">BATHROOM</span></h2>
            <div class="row" style="margin-top:70px">
                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/bath-01.jpg" />
                        <span class="caption">WHITE KING <br>PREMIUM BLEACH </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-02.jpg" />
                        <span class="caption">HARPIC WHITE &<br> SHINE ULTIMATE <br>BLEACH POWER</span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-03.jpg" />
                        <span class="caption">DUCK FOAMING<br> BLEACH GEL </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-04.jpg" />
                        <span class="caption">BREF 10X EFFECT<br> TOILET GEL </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-05.jpg" />
                        <span class="caption">STRIKE BLEACH<br> TOILET GEL </span>
                    </div>


                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:60px">
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show5()">ALTERNATIVES</button>
            </div>
            <div class="container" id="bathAlt" style="margin-top:50px">
                <img src="~/img/bath-alter.jpg" style="width:155vh; height:35vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>
    </section>


    <script SameSite="None; Secure" src="https://static.landbot.io/landbot-widget/landbot-widget-1.0.0.js"></script>
    <script>
        var myLandbot = new LandbotLivechat({
            index: 'https://chats.landbot.io/v2/H-732989-4YFSIQ5565VKNWEA/index.html',
        });
    </script>

    <div class="container" style="text-align:center; margin-bottom:50px">
        <h3 style="color:#363636; font-size:45px; font-weight:bold; margin-top:20px; margin-bottom:20px">What can you do next   ?</h3>
        <div class="row" style="text-align:center">
            <div class="col-lg-12 col-md-12 filter-app" style="background-color:rgba(170, 231, 192, 0.53)">
                <div style="margin-top:50px; margin-bottom:50px">
                    <span style="font-family:Raleway; color:black">OUT DOOR</span>
                    <br>
                    <span style="font-family:Raleway; color:black; font-weight:bold">Check out Rainfall from Your Roof</span>
                    <br>
                    <span style="font-family:Raleway; color:black; font-weight:bold">Collect & Reuse</span>
                    <br>
                    <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/RoofWater'">LEARN MORE ></button>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 filter-app" style="text-align:center">
                    <img src="~/img/lllg.png" style="width:9vh; height:10vh" />
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>WHO WE ARE</h5>
                    <a href="/Home/HomeIndex">Home</a>
                    <br>
                    <a href="/Home/AboutWater">About Us</a>
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>OUR SERVICES</h5>
                    <a href="/Home/RoofWater">Water Save</a>
                    <br>
                    <a href="/Home/DIYDetergent">Clean Water</a>
                </div>
            </div>
        </div>
    </footer>



    <style>

        #bathroom {
            display: none;
        }

        #laundry {
            display: none;
        }


        #kitAlt {
            display: none;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        #bathAlt {
            display: none;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        #launAlt {
            display: none;
            margin-top: 50px;
            margin-bottom: 100px;
        }
    </style>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>
    <script src="~/js/mdb.js"></script>
    <script src="~/JavaScript/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/sidenavbar.js"></script>
    <script>
        var kit = document.getElementById("kitchen");
        var bat = document.getElementById("bathroom");
        var lau = document.getElementById("laundry");
        var kitpic = document.getElementById("kitAlt");
        var batpic = document.getElementById("bathAlt");
        var launpic = document.getElementById("launAlt");

        $(document).ready(function () {
            kitpic.style.display = "none";
        });

        function show1() {
            kit.style.display = "flex"
            bat.style.display = "none"
            lau.style.display = "none"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show2() {
            kit.style.display = "none"
            bat.style.display = "flex"
            lau.style.display = "none"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show3() {
            kit.style.display = "none"
            bat.style.display = "none"
            lau.style.display = "flex"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show4() {
            if (kitpic.style.display == "none") {
                kitpic.style.display = "flex";
            } else {
                kitpic.style.display = "none";
            }
        }


        function show5() {
            if (batpic.style.display == "none") {
                batpic.style.display = "flex";
            } else {
                batpic.style.display = "none";
            }
        }
        function show6() {
            if (launpic.style.display == "none") {
                launpic.style.display = "flex";
            } else {
                launpic.style.display = "none";
            }
        }

        $(function () {
            $(".c_h").click(function (e) {
                $(".chat_container").slideToggle("slow");
                return false
            });
        });

        function delay(URL) {
            setTimeout(function () { window.location = URL });
        }

        $('#kc').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        $('#ld').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });
        $('#bh').click(function () {
            $('html, body').animate({
                scrollTop: $($.attr(this, 'href')).offset().top
            }, 500);
            return false;
        });

    </script>
</body>
</html>
