
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>DIY Detergent</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">


    <link href="~/StyleFolder/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fonts/LayoutIconFonts/icofont.min.css" rel="stylesheet" />
    <link href="~/StyleFolder/animate.css" rel="stylesheet" />
    <link href="~/StyleFolder/venobox.css" rel="stylesheet" />

    <link href="~/StyleFolder/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/JavaScript/popper.js"></script>
    <link href="~/StyleFolder/style.css" rel="stylesheet" />
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/css/mdb.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/StyleFolder/sideNavBar.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="fixed-top">
        <div class="HeaderContainer">

            <div class="logo float-left">
                <h1 class="text-light"><img src="~/img/TTOL.jpg" style="max-height:50px" /><a href="/Home/HomeIndex"><span>Water Remedy</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu float-right d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a href="/Home/HomeIndex">Home</a>
                    </li>
                    <li>
                        <a href="/Home/AboutWater">About Us</a>
                    </li>
                    <li class="drop-down">
                        <a href="/Home/DIYDetergent">Clean Water</a>
                        <ul>
                            <li><a href="/Home/DIYDetergent#hello">Check my products</a></li>
                        </ul>
                    </li>
                    <li class="drop-down">
                        <a href="/Home/RoofWater">Water Saver</a>
                        <ul>
                            <li><a href="/Home/RoofWater#rwater">How Much Can Save</a></li>
                            @*<li><a href="/Home/RoofWater#rwater">Have A Water Tank</a></li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/CatchmentInDanger">Water Facts</a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End #header -->
    @*<section id="DIY">
            <div class="container" style="text-align:center; position: relative">
                <div class="row">
                    <div class="col-lg-12 col-md-12 filter-app">
                        <img src="~/img/diy-clearn.jpg" />
                        <div class="DIY-container">
                            <h1 style="font-weight:600">DIY Detergent</h1>
                            <h2 style="font-weight:500">Replace chemical detergents with nature cleaner</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@

    <section>
        <div class="container-diy" @*style="text-align:center; position: relative"*@>
            <div class="row">
                <div id="DIY" class="col-lg-12 col-md-12 filter-app">
                    @*<img src="~/img/diy-clearn.jpg" />*@
                    <div class="DIY-container">
                        <h1 style="font-weight:600">Clean Water</h1>
                        @*<div></div>*@
                        <div style="margin-top:30px">
                            <span class="p">Do you know?</span>
                            <br>
                            <span class="ps">Chemical Detergents have seriously impact to water catchment</span>
                            <br>
                            <span class="p">What small changes can do? </span>
                            <br>
                            <span class="ps">Check your common detergents in home and alter them to eco-friendly detergents</span>
                        </div>
                        @*<h2 style="font-weight:bold">Replace chemical detergents with nature cleaner.</h2>*@
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div id="Whymatter" class="container-diy" style="margin-top:80px">
            <div class="row">
                <div class="col-lg-3 col-md-3 filter-app">
                    <h2 style="text-align:center; color:black; font-size:27px; font-weight:600">
                        Why it matters
                    </h2>
                    <br />
                    <p style="color:black; font-weight:500; font-size:17px">
                        Most household chemical products contain <span style="font-weight:bold; color:#7C9139">disinfectants, phosphate, and surfactants.</span>
                    </p>
                    <p style="color:black; font-weight:500; font-size:17px">
                        The disinfectants and surfactants often contain <span style="font-weight:bold; color:black">sodium hypochlorite and benzalkonium</span> chloride which are toxic to aquatic lives including plants, animals, and microorganisms.
                        Besides the toxicity, the derivatives from these chemicals can hardly be bio-degradable.
                    </p>
                    <p style="color:black; font-weight:500; font-size:17px">
                        <span style="font-weight:bold; color:black">Phosphates</span> existing in laundry detergents can result in eutrophication in water, which will cause the death of fish. 
                    </p>
                </div>

                <div id="DIYheader" class="col-lg-6 col-md-6 filter-app" style="text-align:center">
                    <div id="diytitle">
                        <span id="span1">Chemical & Eco-Friendly Detergents</span>
                        <br>
                        <span id="span2">Replace chemical detergents with nature cleaner</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 filter-app">
                    <h2 style="text-align:center; color:black; font-size:27px; font-weight:600">
                        What it impacts on?
                    </h2>
                    <div style="text-align:center">
                        <div id="threePic">
                            <div class="threePics">
                                <img src="~/img/mel-pop.png" class="img-fluids" id="mel_population" />
                                <div id="words1">HUMAN</div>
                            </div>
                            <div class="threePics">
                                <img src="~/img/koala-tree.png" class="img-fluids" id="mel_koala" />
                                <div id="words2">ANIMAL</div>
                            </div>
                            <div class="threePics">
                                <img src="~/img/river-top.png" class="img-fluids" id="mel_river" />
                                <div id="words3">RIVER</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@



    @*<nav class="cd-vertical-nav">
            <ul style="list-style:none">
                <li>
                    <a href="#Whymatter" data-number="1">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Why It Matters?</span>
                    </a>
                </li>
                <li>
                    <a href="#hello" data-number="3">
                        <span class="cd-dot"></span>
                        <span class="cd-label">What chemical I have?</span>
                    </a>
                </li>
                <li>
                    <a href="#domore" data-number="2">
                        <span class="cd-dot"></span>
                        <span class="cd-label">Want to do more?</span>
                    </a>
                </li>

            </ul>
        </nav>
        <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>*@





    <div id="hello"></div>
    <div style="text-align:center; margin-top:50px">
        <img src="~/img/arrow-down.png" style="width:auto;height:50px" />
    </div>
    <h2 class='mb-3' style="text-align:center; color:black; font-size:40px; font-weight:600" id="team22">Check common detergents by places</h2>

    <div class="homeSelecter container" style="margin-top:50px; text-align:center">
        @*<div class="dropdown">
                <button class="btn btn-ligh dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:300px; border:0px solid black; font-weight:bold; color:black">
                    MY PLACE
                </button>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" onclick="show1()" id="chice1">Kitchen</a>
                    <a class="dropdown-item" onclick="show2()" id="chice2">Bathroom</a>
                    <a class="dropdown-item" onclick="show3()" id="chice3">Laundry</a>
                </div>
            </div>*@
        <div class="row">
            <div class="col-lg-4 col-md-4 filter-app">
                <button type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show1()">Kitchen</button>
            </div>
            <div class="col-lg-4 col-md-4 filter-app">
                <button type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show3()">Laundry</button>
            </div>
            <div class="col-lg-4 col-md-4 filter-app">
                <button type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show2()">Bathroom</button>
            </div>
        </div>
    </div>

    <section id="laundry" style="margin-top:30px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">LAUNDRY</span></h2>
            <div class="row" style="margin-top:70px">

                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/laun-01.jpg" />
                        <span class="caption">OMO Dual Capsules</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-02.jpg" />
                        <span class="caption">Purity Top & Front<br> Loader Sensitive</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-03.jpg" />
                        <span class="caption">Dettol Anti-Bacterial<br> Laundry Sanitiser<br> Natural Eucalyptus</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-04.jpg" />
                        <span class="caption">Persil With A Touch Of<br> Comfort Inspired<br> Freshness Liquid</span>
                    </div>
                    <div class="item">
                        <img src="~/img/laun-05.jpg" />
                        <span class="caption">Surf Laundry Powders<br> All Variants</span>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:70px">
                @*<div type="button" style="margin-left:20px; background-color:rgba(242, 216, 160, 1); text-align:center; color:white; font-weight:bold" id="RM">Check DIY Detergents</div>*@
                <button type="button" class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show6()">ALTERNATIVES</button>
            </div>
            <div class="container" id="launAlt" style="margin-top:50px">
                <img src="~/img/laun-alter.jpg" style="width:155vh; height:35vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>

    </section>

    <section id="kitchen" style="margin-top:50px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">KITCHEN</span></h2>
            <div class="row" style="margin-top:70px">
                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/kit-05 (1).jpg" />
                        <span class="caption">Strike Kitchen Cleaner</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (2).jpg" />
                        <span class="caption">Ajax Professional Kitchen</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (3).jpg" />
                        <span class="caption">Dettol Healthy <br>Clean Kitchen Spray</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (4).jpg" />
                        <span class="caption">Pine O Cleen Disinfectant<br> Floor Cleaner Pomegranate</span>
                    </div>
                    <div class="item">
                        <img src="~/img/kit-05 (5).jpg" />
                        <span class="caption">Mr Muscle Drano Crystals Tub</span>
                    </div>


                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:70px">
                @*<div type="button" style="margin-left:20px; background-color:rgba(242, 216, 160, 1); text-align:center; color:white; font-weight:bold" id="RM">Check DIY Detergents</div>*@
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show4()">ALTERNATIVES</button>
            </div>
            <div class="container" id="kitAlt" style="margin-top:50px">
                <img src="~/img/kit-alter.jpg" style="width:155vh; height:35vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" />
            </div>
        </div>
    </section>

    <section id="bathroom" style="margin-top:50px">
        <div class="container" style="text-align:center">
            <h2 class='mb-3' style="color:black; font-size:30px; font-weight:100;" id="team2">TOP 5 COMMON DETERGENTS IN <span style="font-weight:bold; font-size:35px">BATHROOM</span></h2>
            <div class="row" style="margin-top:70px">
                <div class="col-lg-12 col-md-12 filter-app">
                    <div class="item">
                        <img src="~/img/bath-01.jpg" />
                        <span class="caption">WHITE KING <br>PREMIUM BLEACH </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-02.jpg" />
                        <span class="caption">HARPIC WHITE &<br> SHINE ULTIMATE <br>BLEACH POWER</span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-03.jpg" />
                        <span class="caption">DUCK FOAMING<br> BLEACH GEL </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-04.jpg" />
                        <span class="caption">BREF 10X EFFECT<br> TOILET GEL </span>
                    </div>
                    <div class="item">
                        <img src="~/img/bath-05.jpg" />
                        <span class="caption">STRIKE BLEACH<br> TOILET GEL </span>
                    </div>


                </div>
            </div>
            <div class="container" style="text-align:center; margin-top:60px">
                @*<div type="button" style="margin-left:20px; background-color:rgba(242, 216, 160, 1); text-align:center; color:white; font-weight:bold" id="RM">Check DIY Detergents</div>*@
                <button class="btn btn-ligh" style="border:0px solid black; font-weight:bold; color:black; font-size:18px" onclick="show5()">ALTERNATIVES</button>
            </div>
            <div class="container" id="bathAlt" style="margin-top:50px">
                <img src="~/img/bath-alter.jpg" style="width:155vh; height:35vh; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            </div>
        </div>
    </section>

    @*<div class="container DIY" style="margin-top:50px; margin-bottom:100px; text-align:center">
            <h2 style="text-align:center; color:#363636; font-size:30px; font-weight:bold">
                Want to do more?
            </h2>
            <h5 style="color:#363636; font-size:15px; font-weight:bold; margin-top:20px">Check out what home detergents impact out water catchment</h5>
            <img src="~/img/parents.png" style="width:auto; height:100px; margin-top:30px; margin-right:50px"/>
            <button type="button" class="btn btn-dark" onclick="window.location.href='/Home/DIYDetergent'">Action Now ></button>
        </div>*@

    @*<div class="Detergents" style="margin-top:50px; margin-bottom:100px; text-align:center">
            <h2 style="text-align:center; color:#363636; font-size:30px; font-weight:bold">
                Want to do more?
            </h2>
            <h5 style="color:#363636; font-size:15px; font-weight:bold; margin-top:20px">Check out how to save water from roof</h5>
            <div style="text-align:center; position:relative; margin-left:-100px">
                <img src="~/img/parents.png" style="width:auto; height:100px; margin-top:30px; margin-right:10px" />

                <button type="button" class="btns" onclick="window.location.href='/Home/RoofWater'">LEARN MORE ></button>
            </div>
        </div>*@

    <div class="l_c_h">
        <div class="c_h">
            <div class="left_c">
                <div class="left center_icons">
                    <!--center_icons-->
                    Live help!
                </div><!--end center_icons-->
                <div class="right right_c left_icons">
                    @*<a href="#" class="mini" style="font-size:23px;">+</a>*@
                    <img src="~/img/chat-icon3.png" style="width:auto; height:35px" />
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="chat_container" style="display: none;">
            <iframe src='https://webchat.botframework.com/embed/myqnaserver-bot?s=e1ts79DPVWo.zIh5ekvimyEqEIVKnaPRLDS7fXMX7r-7HdjQgFv_CBc' style='min-width: 100px; width: 270px; min-height: 500px; border:0'></iframe>
        </div>
    </div>

    <div class="container" style="text-align:center; margin-bottom:50px">
        <h3 style="color:#363636; font-size:45px; font-weight:bold; margin-top:20px; margin-bottom:20px">What can do next   ?</h3>
        <div class="row" style="text-align:center">
            <div class="col-lg-4 col-md-4 filter-app"></div>
            <div class="col-lg-4 col-md-4 filter-app" style="background-color:rgba(170, 231, 192, 0.53)">
                <div style="margin-top:50px; margin-bottom:50px">
                    <span style="font-family:Raleway; color:black">OUT DOOR</span>
                    <br>
                    <span style="font-family:Raleway; color:black; font-weight:bold">Check out Rainfall from Your Roof</span>
                    <br>
                    <span style="font-family:Raleway; color:black; font-weight:bold">Collect & Reuse</span>
                    <br>
                    <button type="button" class="Navbtn" data-aos="fade-right" data-aos-duration="1000" onclick="window.location.href='/Home/RoofWater'">LEARN MORE ></button>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 filter-app"></div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 filter-app" style="text-align:center">
                    <img src="~/img/TTOL.jpg" style="width:9vh; height:10vh" />
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>WHO WE ARE</h5>
                    <a href="#">Home</a>
                    <br>
                    <a href="/Home/AboutWater">About Us</a>
                </div>
                <div class="col-lg-4 col-md-4 filter-app">
                    <h5>OUR SERVICES</h5>
                    <a href="/Home/RoofWater">Water Save</a>
                    <br>
                    <a href="/Home/DIYDetergent">Clean Water</a>
                </div>
            </div>
        </div>
    </footer>



    <style>
        /*#kitchen {
            display: flex;
        }*/

        #bathroom {
            display: none;
        }

        #laundry {
            display: none;
        }


        #kitAlt {
            display: none;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        #bathAlt {
            display: none;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        #launAlt {
            display: none;
            margin-top: 50px;
            margin-bottom: 100px;
        }
    </style>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/JavaScript/bootstrap.js"></script>
    @*<script src="~/JavaScript/bootstrap.bundle.js"></script>*@
    <script src="~/JavaScript/jquery.easing.min.js"></script>
    <script src="~/JavaScript/isotope.pkgd.js"></script>
    <script src="~/JavaScript/venobox.js"></script>
    <script src="~/JavaScript/main.js"></script>
    <script src="~/js/mdb.js"></script>
    <script src="~/JavaScript/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/sidenavbar.js"></script>
    <script>
        var kit = document.getElementById("kitchen");
        var bat = document.getElementById("bathroom");
        var lau = document.getElementById("laundry");
        var kitpic = document.getElementById("kitAlt");
        var batpic = document.getElementById("bathAlt");
        var launpic = document.getElementById("launAlt");

        $(document).ready(function () {
            kitpic.style.display = "none";
        });

        function show1() {
            kit.style.display = "flex"
            bat.style.display = "none"
            lau.style.display = "none"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show2() {
            kit.style.display = "none"
            bat.style.display = "flex"
            lau.style.display = "none"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show3() {
            kit.style.display = "none"
            bat.style.display = "none"
            lau.style.display = "flex"
            kitpic.style.display = "none"
            batpic.style.display = "none"
            launpic.style.display = "none"
        }
        function show4() {
            if (kitpic.style.display == "none") {
                kitpic.style.display = "flex";
            } else {
                kitpic.style.display = "none";
            }
        }


        function show5() {
            if (batpic.style.display == "none") {
                batpic.style.display = "flex";
            } else {
                batpic.style.display = "none";
            }
        }
        function show6() {
            if (launpic.style.display == "none") {
                launpic.style.display = "flex";
            } else {
                launpic.style.display = "none";
            }
        }

        $(function () {
            $(".c_h").click(function (e) {
                //if ($(".chat_container").is(":visible")) {
                //    $(".c_h .right_c .mini").text("+")
                //} else {
                //    $(".c_h .right_c .mini").text("-")
                //}
                $(".chat_container").slideToggle("slow");
                return false
            });
        });

    </script>
</body>
</html>
