
@{
    ViewBag.Title = "GrowthOfUsage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay" style="margin-bottom:50px; background-image:url(/pic/small-bg6.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 id="styleForHeader">Water Usage</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<div class="container">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <div class="row align-items-center">
                    <h2>
                        <u>Population growth</u>
                    </h2>

                    <p>
                        Melbourne is a great city and one of the fastest growing cities. everyone wants to live here and enjoy its serenity. Melbourne’s population has grown substantially from past 25 years. According to Victorian state government and Australian Bureau of statistics, Melbourne is fastest growing city in Australia and Victoria’s population is expected to almost double by 2051. Since 2001, Melbourne has added 1.5 million new residents. And also have declared that over the next 50 years, the population of Melbourne and surrounding suburbs can from 4.6 Million to 8 Million.
                        And over next few years it is anticipated to reach over 10 million. With current water levels and water sources it will be a tedious job to provide water to all the residents of Melbourne and surrounding areas.
                    </p>
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <img src="~/pic/About2.jpg" style="width:100%; height:auto" />
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <h5>
                                Rising water usage:
                            </h5>
                            <p>
                                even though lot of data shows the per capita use of water is decreasing over years with personal saving actions and more efficient home appliances.
                                However, increase in number of people means increased water supply, water storage and water resources.
                            </p>
                        </div>
                    </div>
                    <h5>
                        Climate change:
                    </h5>

                    <p>
                        Climate change causes increase in temperature levels and decrease in rainfall levels, which will potentially cause longer drier periods. If there is decline in rainwater levels, obviously water storage would decrease and cause water scarcity. These climate changes also increase the chance of bushfires. Bushfires are very directly involved with water storage and water quality.
                        The majority of water catchments and water reservoirs are surrounded by natural land. This natural bushland keeps water cleaner. but if bushfires occur, there can be change in the water quality due to the residues released by the bush fires, which not only makes water quality worse, rather makes it worse and unfit for human consumption.
                    </p>

                    <h5>
                        Why does it matter?
                    </h5>

                    <p>
                        Melbournians collectively consume 980 million litres of water per day. With Melbourne’s population growing and climate change making rainfall less reliable, these factors affect the fact that how much water can make it to storages from rainfall. We cannot rely on only rainwater.
                        It is very high time to look into alternatives and also save and use water very efficiently. Everyone needs to be responsible and do their part.
                        It is said that an average person can use 155 litres of water per day, by using water efficiently and be a part of this beautiful efficient water usage campaign.<br />
                        Our project is planning to help and guide people to maximize water conservation. @*<a href="/Home/Instruction">For details, please click here</a> .*@
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>