
@{
    ViewBag.Title = "homePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay" style="margin-bottom:50px; background-image:url(/pic/small-bg2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 id="styleForHeader">Virtual Home Map</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->


    <h2 style="text-align:center">Virtual Home</h2>
    <ul class="nav nav-pills" style="margin-left:450px; margin-bottom:60px;">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Choose Rooms</a>
            <div class="dropdown-menu" style="">
                <a class="dropdown-item" id="choice1" onclick="window.location.href='/KitchenSets/KitchenList'">Kitchen</a>
                <a class="dropdown-item" id="choice2" onclick="window.location.href='/LaundrySets/LaundryList'">Laundary Room</a>
                <a class="dropdown-item" id="choice3" onclick="window.location.href='/BathroomSets/BathroomList'">Bathroom</a>
            </div>
        </li>
    </ul>

    @* whole map *@
    <div class="row align-items-center" id="part1" style="margin-left:450px">
        <div class="col-xl-3 col-lg-3 col-md-3">
            <div class="about_info">
                <div class="section_title mb-20px">
                    <h3>
                        What chemical products in your home are harmful to the stream...
                    </h3>
                    <p>
                        Please click on the arrow shown in the picture to enter the room you are interested in and learn about the harmful chemicals that are often used in those rooms.
                        Of course, we also provide methods to replace these products.
                    </p>
                </div>
                <p class="boxed-btn3"><strong>Care Your Home</strong></p>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9">
            <img src="~/pic/Map2.jpg" usemap="#Map1" id="demo" style="margin-top:30px; width:50%; height:70%">

            <map name="Map1">
                <area target="_self" title="kitchen" alt="Kitchen" href="/KitchenSets/KitchenList" coords="64,419,445,695" shape="rect">
                <area target="_self" title="bathroom" alt="bathroom" href="/BathroomSets/BathroomList" coords="456,421,733,657" shape="rect">
                <area target="_self" title="w/m" alt="Laundryroom" href="/LaundrySets/LaundryList" coords="461,671,755,925" shape="rect">
            </map>
        </div>
    </div>




<style>
    #demo, #demo2, #demo3, #demo4 {
        /*display: inline-block;*/
        position: relative;
        margin: 50px;
        padding: 20px;
        background: #fafafa;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: rgba(0,0,0, 0.8);
        text-shadow: 0 1px 0 #fff;
    }


        #demo::before, #demo::after {
            position: absolute;
            content: "";
            top: 10px;
            bottom: 15px;
            left: 10px;
            width: 50%;
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
            -webkit-transform: rotate(-3deg);
            -moz-transform: rotate(-3deg);
            -o-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
            z-index: -1;
        }

        #demo::after {
            right: 10px;
            left: auto;
            -webkit-transform: rotate(3deg);
            -moz-transform: rotate(3deg);
            -o-transform: rotate(3deg);
            -ms-transform: rotate(3deg);
            transform: rotate(3deg);
        }

        #demo img {
            vertical-align: bottom;
        }

    p {
        font-family: 'Inder', sans-serif;
        line-height: 28px;
        margin-bottom: 15px;
        color: #666;
    }

    #header_img {
        background-image: url("../pic/Water-stream1.jpg");
    }

    #part2 {
        display: none;
    }

    #part3 {
        display: none;
    }

    #part4 {
        display: none;
    }
</style>

<script>
    $(document).ready(function (e) {
        $('img[usemap]').rwdImageMaps();
    });
    $("#Heading").empty();
</script>
<style>
    #header_img {
        height: 200px;
    }
</style>