
@{
    ViewBag.Title = "homePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2 style="text-align:center">Home Map</h2>

        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="about_info">
                    <div class="section_title mb-20px">
                        <h3>
                            Household detergent hazards
                        </h3>
                        <p>
                            Take action to maintain water health and family health! Click on the homemap to find out which household product ingredients in this area are the culprit.
                            You can find DIY methods and alternative products here.
                        </p>
                    </div>
                    <a href="about.html" class="boxed-btn3">Care Your Home</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <img src="~/pic/homelayout5.jpg" usemap="#image-map" id="demo" class="col-lg-8 col-md-10 mx-auto">

                <map name="image-map">
                    <area target="_blank" alt="kitchen" title="kitchen" href="/KitchenSets/KitchenList" coords="64,419,445,695" shape="rect">
                    <area target="_blank" alt="bathroom" title="bathroom" href="/BathroomSets/BathroomList" coords="456,421,733,657" shape="rect">
                    <area target="_blank" alt="w/m" title="w/m" href="/LaundrySets/LaundryList" coords="461,671,755,925" shape="rect">
                </map>
            </div>
        </div>

        <style>
            #demo {
                display: inline-block;
                position: relative;
                margin: 50px;
                padding: 20px;
                background: #fafafa;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
                -moz-border-radius: 4px;
                border-radius: 4px;
                color: rgba(0,0,0, 0.8);
                text-shadow: 0 1px 0 #fff;
            }

                #demo::before, #demo::after {
                    position: absolute;
                    content: "";
                    top: 10px;
                    bottom: 15px;
                    left: 10px;
                    width: 50%;
                    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
                    -webkit-transform: rotate(-3deg);
                    -moz-transform: rotate(-3deg);
                    -o-transform: rotate(-3deg);
                    -ms-transform: rotate(-3deg);
                    transform: rotate(-3deg);
                    z-index: -1;
                }

                #demo::after {
                    right: 10px;
                    left: auto;
                    -webkit-transform: rotate(3deg);
                    -moz-transform: rotate(3deg);
                    -o-transform: rotate(3deg);
                    -ms-transform: rotate(3deg);
                    transform: rotate(3deg);
                }

                #demo img {
                    vertical-align: bottom;
                }

            p {
                font-family: 'Inder', sans-serif;
                line-height: 28px;
                margin-bottom: 15px;
                color: #666;
            }

            #header_img {
                background-image: url("../pic/Water-stream1.jpg");
            }
        </style>

        <script>
            $(document).ready(function (e) {
                $('img[usemap]').rwdImageMaps();
            });
        </script>

    </div>
