
@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay" style="margin-bottom:50px; background-image:url(/pic/small-bg1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 id="styleForHeader">Instruction for roof rainwater collection</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<div class="container">
    <div>
        <h3 style="text-align:center; margin-bottom:30px;">Your rainwater collection guide</h3>
        <p>You can follow the tutorial below, measure the size of the yard through Google Maps to fit the tank, and according to the rainfall, we will calculate how much water you can get.</p>
    </div>

    <div class="embed-responsive embed-responsive-16by9 z-depth-3">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/p0uARqZyHG0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <div class="row" style="margin-top:50px">
        <div class="col-xl-4 col-lg-4 col-md-4">
            <label for="exampleForm2">House area(/m2)</label>
            <input type="text" id="area" class="form-control">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <label for="exampleForm2">Current rainfall(/mm)</label>
            <input type="text" id="rainfall" class="form-control" value="80">
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4">
            <label for="exampleForm2">Water storage(/L)</label>
            <input type="text" id="result" class="form-control" readonly>
        </div>
        <div>
            <button type="button" class="btn btn-primary" style="margin-top:50px; margin-left:20px" onclick="calculate();">calculate</button>
        </div>
    </div>

</div>
<style>
    .carousel-item {
        height: 70vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        background-size: cover;
    }

    .display-4 {
        color: black;
    }

    .lead {
        color: black;
    }

    #header_img {
        background-image: url("../pic/WaterStreamss.jpg");
    }

    #header_img {
        height: 200px;
    }
</style>
<script>
    $("#Heading").empty();
    function calculate() {
        var area = document.getElementById("area").value;
        var rainfall = document.getElementById("rainfall").value;
        var result = null;
        if (area == "" || rainfall == "") {
            alert("Please fill in the content correctly");
        } else {
            result = Number(area) * Number(rainfall);
        }
        document.getElementById("result").value = result;
    }
</script>