
@{
    ViewBag.Title = "WaterQualityAndPollution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay" style="margin-bottom:50px; background-image:url(/pic/small-bg7.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 id="styleForHeader">Quality And Pollution</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->

<div class="container">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <h2>
                        <u>Water quality and pollution</u>
                    </h2>
                    <div class="row align-items-center">

                        <div class="col-lg-6 col-md-6 col-xl-6">

                            <h5>are our waterways healthy?</h5>
                            <p>
                                Melbourne’s waterways quality differs greatly. The natural areas and upstream areas are healthier and have good water quality then compared to city side and developing suburbs due to result of urban development.
                                One good is news is that compared the other major cities, Melbourne’s water ways are good overall.
                                With the population growth every new driveway and pavement increases the amount of rainwater that runs into rivers and creeks with litter and pollutants.
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6">
                            <img src="~/pic/About.jpg" style="width:100%; height:auto" />
                        </div>
                    </div>

                    <h4>What and how are Water quality tested?</h4>

                    <p>
                        Water quality is an important condition that supports both environmental and social values.
                        Melbourne water gets sampled at 100 different locations (monitoring sites) to assess any changes over time, testing for a range of indicators like water temperature, dissolved oxygen, salinity (salt levels), pH level (acidity or alkalinity),nutrients (forms of nitrogen and phosphorus),faecal contamination (E. coli), metals (arsenic, cadmium, chromium, copper, lead, nickel and zinc)
                    </p>

                    <h5>
                        Yarra River's environmental health at risk due to litter, pollution, pests and urban development
                    </h5>

                    <p>
                        The Yarra River's environmental health is being put at risk due to litter, pollution and invasive species, with nearly 180 tonnes of rubbish being collected from the river system over a four-year period.
                        Victoria’s Commissioner for Environmental Sustainability rated the river's health as "poor". The report notifies the below key points:
                    </p>

                    <ul>
                        <li>Litter-cleaning programs removed 179 tonnes of litter from the river between 2014 and 2017</li>
                        <li>The report recommends planning controls be extended further north-east along the Yarra River</li>
                        <li>It also calls for the creation of a chief biodiversity scientist to oversee monitoring of the river's health</li>
                    </ul>

                    <p>
                        The seven recommendations mentioned by the report, including the establishment of a chief biodiversity scientist to oversee a coordinated effort to monitor the river's health.
                        1)Victoria's biodiversity science and data capability are undermined by a lack of coordination and a strategic approach to investing in critical research
                        2)The current river protection zone should be extended from Warrandyte to the boundary of the Yarra Ranges National Park.
                        3)Hollow-bearing trees were in "low numbers" at surveyed state forests where the Leadbeater's possum lives.
                        4)Smokers in particular need to make an effort to properly dispose of cigarette butts because whether they're dropped in the water, or on the street, they still end up in our rivers.
                        5) cited revegetation, pollution control and pest control programs as some examples of Government investment to help improve the river system's health.
                        We also privide some data to let you <a href="/Home/StatisticsForWaterUsageAndChemicals">know clearly(click here)</a>.
                    </p>

                    <p>
                        Unsafe water quality also affects human health. The following statistical trend chart shows that the number of people killed by unsafe water is increasing.
                    </p>
                    <div>
                        <iframe src="https://ourworldindata.org/grapher/death-rates-unsafe-water?tab=chart&time=earliest..latest&country=~AUS" loading="lazy" style="width: 100%; height: 600px; border: 0px none;"></iframe>
                    </div>

                    <p>
                        For the health of our water stream and family, our website provides a series of services.
                        It will tell you which chemicals products in daily necessities can harm water sources, and we will provide a series of <a href="/Home/homePage">alternative methods (click here to learn more)</a>.
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>