
@{
    ViewBag.Title = "Alternatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>DIY Laundry Detergent</h2>
        <h6>
            Soap is needed to make laundry detergent at home. The molecular structure of soap is divided into pro- and lipophilic parts.
            Its oil-cleaning part and laundry detergent can destroy the surface tension of water, so that water molecules can be evenly distributed on the clothes.
            The lipophilic part can penetrate into the oil, so soap has a strong ability to remove oil. In addition to these advantages, anyone who has used soap knows that soap basically has very little foam,
            it is very convenient to clean, and it does not hurt your hands. So now there are natural soap powder and liquid soap on the market. So when making laundry detergent at home, you can use soap to make it.
        </h6>
        <h5>Step 1:</h5>
        <p>First we prepare a soap head, cut it into thin slices, try to cut it as small and thin as possible, so that it will dissolve better in a while.</p>
        <h5>Step 2:</h5>
        <p>Prepare a basin or box and pour clean water into it, add baking soda and a little fragrance. Baking soda has a strong ability to remove oil and stains. Fragrance can act as a perfume in laundry detergent and remove odors from clothes.</p>
        <h5>Step 3:</h5>
        <p>Generally, after a few minutes of soaking, the soap will become soft. At this time, the homemade laundry detergent is ready to use. If you want the soap to dissolve completely in water, it is best to leave it overnight.</p>
        <p></p>
        <p>In addition to the low cost, the laundry detergent made by myself has a strong decontamination effect and basically has no foam. It is very convenient to clean and does not consume water. After washing, there is still the smell of meeting.</p>

    </div>

    <style>
        p {
            font-family: 'Inder', sans-serif;
            line-height: 28px;
            margin-bottom: 15px;
            color: #666;
        }
    </style>