<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Water Remedy</title>
    <link rel="icon" href="~/pic/greenwater.png" type="image/x-icon">
    <link href="~/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/clean-blog.css" rel="stylesheet" />
    <link href="~/css/clean-blog.min.css" rel="stylesheet" />
    <link href="~/fonts/LayoutIconFonts/icofont.min.css" rel="stylesheet" />
    <link href="~/css/aos.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/clean-blog-copy.min.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/mdb.css" rel="stylesheet" />

    <script src="~/js/echarts.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/js/mdb.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a>@Html.ActionLink("Water Remedy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/homePage">Virtual Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Instruction">Roof Water</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" href="/Home/Instruction">UsageInstruction</a>
                        </li>*@
                </ul>
            </div>
        </div>
    </nav>



    <div>
        @RenderBody()
    </div>
    <hr />
    <footer id="colour" style="background-color:azure">
        <div class="page-footer font-small pt-4">

            <div class="container-fluid text-center text-md-left">

                <div class="row">

                    <div class="col-md-6 mt-md-0 mt-3" style="text-align: center;">

                        <h5 class="text-uppercase font-weight-bold">Our Team</h5>
                        <img src="~/pic/Logo-V2.jpg" style="width:20%" id="img_position">

                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-6 mb-md-0 mb-3" style="text-align: center;">

                        <h5 class="text-uppercase font-weight-bold">Declaration</h5>
                        <p>
                            We have limited power to make essntial changes to people's action. Nevertheless, we still would like to rise
                            people's awareness and confidence to participate in protecting water catchment from daily activities.
                        </p>

                    </div>

                </div>

            </div>
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                Water Remedy
            </div>

        </div>
    </footer>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.rwdImageMaps.js"></script>
    <script src="~/js/jquery.rwdImageMaps.min.js"></script>
    <script src="~/js/clean-blog.min.js"></script>

    <script>
        $(window).scroll(function () {
            $('.fadedfx').each(function () {
                var imagePos = $(this).offset().top;
                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow + 500) {
                    $(this).addClass("fadeIn");
                }
            });
        });

        AOS.init();

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>