
@{
    ViewBag.Title = "Alternatives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>DIY Bathroom cleaner</h2>
        <h3>Sewer dredging agent:</h3>
        <p>Formula: 1/2 cup of baking soda water (about 150ml), 1 cup of white vinegar (about 300ml), appropriate amount of water</p>
        <p>Pour half a cup of baking soda into the basin, and then pour a cup of white vinegar. You will see the white foam starting to emerge from the entire sink, which is the process by which the soda and vinegar come into play.</p>
        <hr />
        <h3>Closestool cleaner:</h3>
        <p>
            The acid in cola can dissolve stains. Pour the cola along the inner wall of the Closestool, soak it for a certain period of time and then rinse, the yellow scale on the Closestool is gone!

            <hr />
            <h3>Beer and toothpaste:</h3>
        <p>
            First prepare a toothpaste, a can of beer, and a spray bottle of old detergent. Squeeze an appropriate amount of toothpaste into the spray bottle of the old detergent, and pour some beer.
        </p>
        <p>Stir it with a wooden stick. Then put the lid on and shake it up and down a few times to make the toothpaste and beer fully mixed together, so that a simple and environmentally friendly cleaner will be made successfully.</p>

        <hr />
        <h3>Vinegar and baking soda:</h3>
        <p>
            Pour baking soda into a spray bottle (the mouth of the bottle is too small, you can roll it into a funnel with paper and pour it along the paper wall). Then pour in white vinegar, tighten the cap and shake evenly to complete.
        </p>
        
    </div>


