@model IEnumerable<WaterRemedy.Models.BathroomSet>

@{
    ViewBag.Title = "BathroomList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">

    <!-- For demo purpose -->
    <div class="row text-center text-dark mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Bathroom harmful ingredient</h1>
            <p class="lead mb-0">
                Click below to learn about their alternatives
            </p>

        </div>
    </div>
    <!-- End -->


    <div class="row" style="margin-bottom:30px">
        <div class="col-lg-8 mx-auto">

            <!-- List group-->
            <ul class="list-group shadow">

                @foreach (var item in Model)
                {
                    <!-- list group item-->
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">@Html.DisplayFor(modelItem => item.chemical_name)</h5>
                                <p class="font-italic text-muted mb-0 small">@Html.DisplayFor(modelItem => item.harm)</p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">@Html.DisplayFor(modelItem => item.source)</h6>

                                </div>
                            </div>@*<img src="https://res.cloudinary.com/mhmd/image/upload/v1556485076/shoes-1_gthops.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">*@
                        </div>
                        <!-- End -->
                    </li>
                }


            </ul>
            <!-- End -->
        </div>
    </div>
    <button type="button" id="button" class="btn btn-outline-info waves-effect" onclick="location.href='/BathroomSets/Alternatives'">Alternative</button>
</div>
<style>
    #button {
        float:right;
        margin-top:0px;
    }
</style>

